.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    border-bottom: solid 2px black;
    margin-bottom: 50px;
}

// GENERAL BUTTONS

button,
label {
    background-color: white;
    border: none;
    border: solid 1px black;
    padding: 10px 15px;
    text-align: center;
    transition: all 0.2s; 
}

.button-disabled {
    background-color: whitesmoke;
    color: gainsboro;
    border: solid 1px gainsboro;
    padding: 10px 15px;
    pointer-events: none;
}

.button-selected {
    background-color: pink;
}

// SELECTOR SECTION
.selector-section {
    flex-basis: 320px;
    flex-shrink: 0;
    position: relative;
}

.button-holder {
    width: 320px;
    position: fixed;
}

.temp-buttons,
.theme-buttons {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    & label {
        flex-basis: calc(33.33% - 10px);
        flex-grow: 0;
        flex-shrink: 0;
        margin: 5px;
    }
    & h3 {
        flex-basis: 100%;
        text-align: center;
    }
}

button:hover {
    background-color: gainsboro;
}

label:hover {
    background-color: gainsboro;
}

input[type="radio"]:checked+label {
    background-color: #979aaa;
    color: white;
    letter-spacing: 1px;
    font-weight: 400;

}

.submit-button {
    width: calc(100% - 10px);
    margin: 20px 5px 5px 5px;
    background-color: gainsboro;
    transition: all 0.3s;
}

.submit-button:hover {
    background-color: #979aaa;
    letter-spacing: 1px;
    color: white;
}

// PALETTE SECTION

.palette-section {
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    margin-left: 30px;
    margin-top: 66px;
}

.palette-section .container {
    display: flex;
    width: 100%;
}

.container {
    flex-direction: column;
    flex-wrap: wrap;
}

.palette-container {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
    text-align: right;
}

.palette {
    height: 290px;
    display: flex;
    margin-bottom: 20px;
}

.color-container {
    flex-basis: 10px;
    flex-grow: 1;
    height: 279px;
}

.color-name {
    width: 100%;
    text-align: center;
    background-color: #979aaa;
    color: white;
    padding: 5px 0;
    opacity: 0;
    transition: all 0.2s;
}

.color-visible {
    opacity: 1;
}



